
.idea/
# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
vendor/*
!vendor/zf-commons/*
!vendor/socalnick/*

!.gitignore

# Legacy ZF1
demos/
extras/documentation

